<h1 class="heading text-center">Mi perfil</h1>

<%= image_tag "default-photo-profile.png", class: "profile__img" %>

<div class="profile__info margin-bottom-50">
  <h3 class="text-center profile__title"><%= @user.username %></h3>
  <h3 class="text-center profile__title"><%= @user.firstname %> <%= @user.lastname %></h3>
</div>

<section class="table-reports">
  <header class="order-in-table order-in-table--alt">
    <h4 class="table-reports__title">Reportes</h4>
    <h4 class="table-reports__title text-center">Tipo de reporte</h4>
    <h4 class="table-reports__title text-center">Estado</h4>
    <h4 class="table-reports__title text-center">Eliminar</h4>
  </header>

  <% @user.reports.each do |report| %>
    <article class="table-reports__item order-in-table order-in-table--alt">
      <p class="table-reports__text"><%= report.description %></p>

      <span class="form-report__types-box block-click">
        <% type_report = TypeReport.find(report.type_report_id).name %>
        <span class="form-report__types-icon <%= type_report.downcase %>-type"><i class="icon icon-<%= type_report.downcase %>-icon"></i></span>
        <em class="form-report__types-text"><%= type_report %></em>
      </span>

      <span class="table-reports__state state-color-<%= report.state == "En revisión" ? "Revision" : report.state %>">
        <i class="icon icon-<%= report.state == "En revisión" ? "revision" : report.state.downcase %>-icon"></i>
        <%= report.state %>
      </span>

      <% if report.state == "Pendiente" %>
        <%= link_to destroy_report_path(report.id), method: :delete, data: { confirm: "¿Estás seguro de eliminar este reporte?" }, class: "table-reports__delete" do %>
          <i class="icon icon-delete-icon"></i>
          Eliminar
        <% end %>
      <% end %>
    </article>
  <% end %>
</section>