<section class="home__hero">
  <div class="home__hero-container text-center">
    <h1 class="home__hero-description">
      <strong>Ecoactua</strong> busca mantener y conservar nuestros recursos naturales, con nuestra ayuda intentamos <strong>solucionar las problemáticas ambientales</strong> que se presenten en la ciudad. 
    </h1>
    <h2 class="home__hero-clt-title">¿Quieres ser parte del cambio?</h2>
    <a href="#como-funciona" class="btn btn-primary btn-large">Conoce como funciona</a>
  </div>
</section>

<section id="como-funciona" class="home__how-works">
  <p class="home__how-works-description text-center">
    Contamos con el apoyo de las autoridades capacitadas para resolver cualquier inconveniente
  </p>

  <div class="home__how-works-container">
    <h3 class="text-center">¿Cómo funciona?</h3>

    <div class="home__how-works-box">

      <article class="home__how-works-item">
        <div class="home__how-works-content step-one">
          <i class="icon icon-step-one"></i>
          <h3>Crea un reporte que requiera atención</h3>
        </div>
        <p class="text-center">¿Existe un problema ambiental en tu zona?</p>
      </article>

      <article class="home__how-works-item">
        <div class="home__how-works-content step-two">
          <i class="icon icon-step-two"></i>
          <h3>El reporte llega a las autoridades capacitadas</h3>
        </div>
        <p class="text-center">Se realiza un análisis de tu problema para hallar la solución más conveniente</p>
      </article>

      <article class="home__how-works-item">
        <div class="home__how-works-content step-three">
          <i class="icon icon-step-three"></i>
          <h3>Solucionado el problema</h3>
        </div>
        <p class="text-center">Se actualiza el estado del mismo y recibirás una notificación para mantenerte al tanto</p>
      </article>

    </div>

    <div class="home__how-works-btn text-center">
      <%= link_to "Crea tu reporte", new_report_path, class: "btn btn-primary btn-large" %>
    </div>
  </div>
</section>

<section class="home__all-reports">
  <h3 class="text-center">Conoce todos los reportes</h3>

  <div id="map_general"></div>
</section>

<script>
  function initMap() {
    let markers = []
    let contentMaker
  
    const defaultLocation = {
      lat: 6.249451,
      lng: -75.576035
    }

    const map = new google.maps.Map(document.getElementById('map_general'), {
      zoom: 13,
      center: defaultLocation
    })

    // Adds a marker to the map and push to the array.
    const addMarker = (location, contentWindow) => {
      const marker = new google.maps.Marker({
        position: location,
        map: map,
        icon: "/assets/point-map.png"
      })

      const infowindow = new google.maps.InfoWindow({
        content: contentWindow
      })

      markers.push(marker)

      marker.addListener('click', () => infowindow.open(map, marker))
    }

    <% @reports.each do |report| %>
      contentMaker = `<div class="map-general__window-container">
                        <h3 class="map-general__window-title">Dirección: <%= report.address %></h3>
                        <p class="map-general__window-description"><strong>Descripción: </strong><%= report.description %></p>
                        <div class="state-color-<%= report.state == "En revisión" ? "Revision" : report.state %>">
                          <strong>Estado del reporte:</strong> <span><%= report.state %></span>
                        </div>
                      </div>`
      addMarker({ lat: <%= report.pointlat %>, lng: <%= report.pointlong %> }, contentMaker)
    <% end %>
  }
</script>