<h1 class="heading text-center">Crear reporte</h1>

<%= form_for @report, :html => { :class => "form-report" } do |f| %>
  <%= f.text_field :address, placeholder: "Dirección del reporte" %>
  <%= f.text_area :description, size: "25x10", placeholder: "Descripción del reporte" %>
  <%= f.hidden_field :type_report_id %>
  <%= f.hidden_field :state, :value => "Pendiente" %>
  <%= f.hidden_field :pointlat %>
  <%= f.hidden_field :pointlong %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <label class="margin-15-auto">Tipo de reporte</label>
  <div class="form-report__types">
    <span class="form-report__types-box" data-typereport="1">
      <span class="form-report__types-icon vegetación-type"><i class="icon icon-vegetación-icon"></i></span>
      <em class="form-report__types-text">Vegetación</em>
    </span>
    <span class="form-report__types-box" data-typereport="2">
      <span class="form-report__types-icon animal-type"><i class="icon icon-animal-icon"></i></span>
      <em class="form-report__types-text">Animal</em>
    </span>
    <span class="form-report__types-box" data-typereport="3">
      <span class="form-report__types-icon superficie-type"><i class="icon icon-superficie-icon"></i></span>
      <em class="form-report__types-text">Superficie</em>
    </span>
    <span class="form-report__types-box" data-typereport="4">
      <span class="form-report__types-icon aire-type"><i class="icon icon-aire-icon"></i></span>
      <em class="form-report__types-text">Aire</em>
    </span>
    <span class="form-report__types-box" data-typereport="5">
      <span class="form-report__types-icon agua-type"><i class="icon icon-agua-icon"></i></span>
      <em class="form-report__types-text">Agua</em>
    </span>
  </div>
  
  <label class="margin-top-30">Ubicación en el mapa <span>( Haz clic sobre el mapa para ubicar el lugar del reporte )</span></label>

  <div id="map_create_report"></div>

  <div class="text-center margin-top-540">
    <%= f.submit "Crea tu reporte", class: "btn btn-primary btn-large text-center btn-create-report" %>
  </div>
<% end %>

<script>
  function initMap() {
    let markers = []
    let latPointField = $("#report_pointlat")
    let longPointField = $("#report_pointlong")

    const defaultLocation = {
      lat: 6.249451,
      lng: -75.576035
    }

    const map = new google.maps.Map(document.getElementById('map_create_report'), {
      zoom: 13,
      center: defaultLocation
    })

    // This event listener will call addMarker() when the map is clicked.
    map.addListener('click', function(event) {

      deleteMarkers()

      addMarker(event.latLng)

      latPointField.attr("value", event.latLng.lat())
      longPointField.attr("value", event.latLng.lng())
    })

    // Adds a marker to the map and push to the array.
    const addMarker = (location) => {
      const marker = new google.maps.Marker({
        position: location,
        map: map,
        icon: "/point-map.png"
      })

      markers.push(marker)

      map.setCenter(marker.getPosition())
    }

    // Deletes all markers in the array by removing references to them.
    const deleteMarkers = () => {
      markers.forEach((element, index) => markers[index].setMap(null))
      markers = []
    }
  }
</script>