<!DOCTYPE html>
<html>
  <head>
    <title>Ecoactua</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Asap:400,700' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% switch_header = false  %>

  <body>
    <header class="header">
      <div class="btn--menu-mobile">
        <span class='top'></span>
        <span class='middle'></span>
        <span class='bottom'></span>
      </div>

      <%= link_to root_path, class: "header__logo" do %>
        <%= image_tag "logos/logo-black.png" %>
      <% end %>

      <nav class="main-nav">

        <% if switch_header %>
          <div class="main-nav-mobile__auth text-center">
            <%= link_to "Ingresar", root_path, class: "main-nav-mobile__link" %> / 
            <%= link_to "Registrarse", root_path, class: "main-nav-mobile__link" %>
            <hr class="line-separator">
          </div>
        <% else %>  
          <div class="main-nav-mobile__auth user-signed--mobile">
            <%= image_tag "default-photo-profile.png", class: "header__avatar" %>
            <h3 class="main-nav-mobile__username">Mateo Olarte</h3>
            <div class="main-nav--mobile__actions">
              <a href="#">Mi perfil</a>
              <a href="#" class="logout-link">Salir</a>
            </div>
            <hr class="line-separator">
          </div>
        <% end %>

        <ul class="main-nav-mobile__list text-center">
          <li class="main-nav-mobile__item"><%= link_to "Inicio", root_path, class: "main-nav__link" %></li>
          <li class="main-nav-mobile__item"><%= link_to "Reportes", root_path, class: "main-nav__link" %></li>
          <li class="main-nav-mobile__item"><%= link_to "Crear reporte", new_report_path, class: "btn btn-primary" %></li>
        </ul>

        <ul class="main-nav__list">
          <li class="main-nav__item"><%= link_to "Inicio", root_path, class: "main-nav__link" %></li>
          <li class="main-nav__item"><%= link_to "Reportes", root_path, class: "main-nav__link" %></li>

          <% if switch_header %>
            <li class="main-nav__item">
              <%= link_to "Ingresar", root_path, class: "main-nav__link" %> / 
              <%= link_to "Registrarse", root_path, class: "main-nav__link" %>
            </li>
          <% else %>  
            <li class="main-nav__item dropdown-element">
              <button class="btn--dropdown user-signed" type="button">
                <%= image_tag "default-photo-profile.png", class: "header__avatar" %>
                <span class="caret"></span>
              </button>
              <ul class="main-nav__dropdown">
                <li class="main-nav__dropdown-item"><a href="#">Mi perfil</a></li>
                <li class="main-nav__dropdown-item"><a href="#" class="logout-link">Salir</a></li>
              </ul>
            </li>
          <% end %>
          <li class="main-nav__item"><%= link_to "Crear reporte", new_report_path, class: "btn btn-primary" %></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <% if flash[:notice] || flash[:alert] %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
