<!DOCTYPE html>
<html>
  <head>
    <title>Ecoactua</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Asap:400,700' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% user_signed_in? ? signed_user = User.find(current_user.id) : "" %>

    <% if current_page?(root_url) %>
      <% logo_url = "logos/logo-white.png" %>
      <% link_nav = "main-nav__link main-nav__link--white" %>
      <% btn_mobile = "btn--menu-mobile btn--menu-mobile--white" %>
      <% caret_icon = "caret caret--white" %>
    <% else %>
      <% logo_url = "logos/logo-black.png" %>
      <% link_nav = "main-nav__link" %>
      <% btn_mobile = "btn--menu-mobile" %>
      <% caret_icon = "caret" %>
    <% end %>

    <header class="header">
      <div class="<%= btn_mobile %>">
        <span class='top'></span>
        <span class='middle'></span>
        <span class='bottom'></span>
      </div>

      <%= link_to root_path, class: "header__logo" do %>
        <%= image_tag logo_url %>
      <% end %>

      <nav class="main-nav">

        <% if user_signed_in? %>
          <div class="main-nav-mobile__auth user-signed--mobile">
            <%= image_tag "default-photo-profile.png", class: "header__avatar" %>
            <h3 class="main-nav-mobile__username"><%= signed_user.firstname %> <%= signed_user.lastname %></h3>
            <div class="main-nav--mobile__actions">
              <%= link_to "Mi perfil", user_profile_path(signed_user.username) %>
              <%= link_to "Salir", destroy_user_session_path, class: "logout-link", method: :delete %>
            </div>
            <hr class="line-separator">
          </div>
        <% else %>
          <div class="main-nav-mobile__auth text-center">
            <%= link_to "Ingresar", new_user_session_path, class: "main-nav-mobile__link" %> / 
            <%= link_to "Registrarse", new_user_registration_path, class: "main-nav-mobile__link" %>
            <hr class="line-separator">
          </div>
        <% end %>

        <ul class="main-nav-mobile__list text-center">
          <li class="main-nav-mobile__item"><%= link_to "Inicio", root_path, class: "main-nav__link" %></li>
          <li class="main-nav-mobile__item"><%= link_to "Reportes", reports_path, class: "main-nav__link" %></li>
          <li class="main-nav-mobile__item"><%= link_to "Crear reporte", new_report_path, class: "btn btn-primary" %></li>
        </ul>

        <ul class="main-nav__list">
          <li class="main-nav__item"><%= link_to "Inicio", root_path, class: link_nav %></li>
          <li class="main-nav__item"><%= link_to "Reportes", reports_path, class: link_nav %></li>

          <% if user_signed_in? %>
            <li class="main-nav__item dropdown-element">
              <button class="btn--dropdown user-signed" type="button">
                <%= image_tag "default-photo-profile.png", class: "header__avatar" %>
                <span class="<%= caret_icon %>"></span>
              </button>
              <ul class="main-nav__dropdown">
                <li class="main-nav__dropdown-item"><%= link_to "Mi perfil", user_profile_path(signed_user.username) %></li>
                <li class="main-nav__dropdown-item"><%= link_to "Salir", destroy_user_session_path, class: "logout-link", method: :delete %></li>
              </ul>
            </li>
          <% else %>  
            <li class="main-nav__item">
              <%= link_to "Ingresar", new_user_session_path, class: link_nav %> / 
              <%= link_to "Registrarse", new_user_registration_path, class: link_nav %>
            </li>
          <% end %>
          <li class="main-nav__item"><%= link_to "Crear reporte", new_report_path, class: "btn btn-primary" %></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <% if flash[:notice] || flash[:alert] %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD7fBDU_tVmqTL_zqIAVC_317qfyYH7Js&callback=initMap"></script>

    <footer class="footer">
      <p>© Ecoactua <%= Date.today.strftime("%Y") %></p>
      <p class="footer__develop-by">
        Hecho con ♥ desde Medellín, 
        Desarrollado por <a href="https://mateoolarte.com" target="_blank">Mateo Olarte</a> - 
        Diseñado por <a href="http://danielcarta.com/" target="_blank">Daniel Cartagena</a> 
      </p>
    </footer>
  </body>
</html>
